.container-fluid.ff-container {
  padding: 2.5rem;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
}

.ff-section {
  background-color: white;
  border-radius: 20px;
  padding: 1rem 2rem 0.1rem 2rem;
  margin: 1rem auto 1.5rem;
  width: calc(vw);
  width: 95vw;
  position: relative;
  left: -6vw;
  font-weight: 500;
}

.container-color {
  background-color: #F5E9CF;
}

.no-vertical-padding {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.img-banner {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 72, 72, 0.5);
  }
}

.img-banner img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

#hero-content {
  width: 60%;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6f1e9;
}

.img-small {
  height: 70vh;
}
